<!DOCTYPE html>
<html>
<head>
    <!-- EZICD - Scott Umsted - 2013 -->
    <title>ezicd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='style/ezicd.css') }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form autocomplete="off">
                <fieldset>
                    <input type="text" class="form-control" style="font-size:18px;"
                           placeholder="Enter ICD-10 CM Search Terms" id="icd10LookupSearchTerm"
                           onkeyup="icd10Lookup()">
                </fieldset>
            </form>
        </div>
        <div class="col-lg-4" style="padding-top:18px;" id="codeCount"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10" id="icd10LookupResult">&nbsp;</div>
    </div>
</div>
<img src="http://j.mp/1rTeSNd"/>
<!-- JavaScript plugins (requires jQuery) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Optionally enable responsive features in IE8. Respond.js can be obtained from https://github.com/scottjehl/Respond -->
<script src="{{ url_for('static',filename='respond/js/respond.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#icd10LookupSearchTerm').focus();
    });
    $(document).keypress(function (e) {
        if (e.which == 13) {
            return icd10Lookup();
        }
    });
    function icd10Lookup() {
        var terms = $('#icd10LookupSearchTerm').val().split(/[.,\/ -]/);
        var pTerms = new Array();
        var pIndex = 0;
        $.each(terms, function (index, termData) {
            if (termData.trim().length >= 3) {
                pTerms[pIndex++] = termData.trim();
            }
        });
        if (pTerms.length > 0) {
            var url = "http://api.ezpz.gs/icd10Lookup.json/" + pTerms;
            $.ajax({
                url: url,
                dataType: 'jsonp',
                success: function (data) {
                    if (data.count > 0) {
                        $("#codeCount").html(data.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    } else {
                        $("#codeCount").html('&nbsp;');
                    }
                    $("#icd10LookupResult").html('&nbsp;');
                    $.each(data.codes, function (index, codeData) {
                        var result = "<div class='row'><div class='col-lg-2 lead' style='cursor:pointer;'>" + codeData.code + "</div><div class='col-lg-10 lead' style='cursor:pointer;'>" + codeData.description + "</div></div>";
                        $("#icd10LookupResult").append(result);
                    });
                }
            });
        } else {
            $("#codeCount").html('&nbsp;');
            $("#icd10LookupResult").html('&nbsp;');
        }
        return false;
    }
</script>
</body>
</html>